[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = [
  "npm install",
  "npm run build",
  "cd server && npm install"
]

[phases.build]

[start]
cmd = "cd server && node index.js"

[variables]
NPM_CONFIG_PRODUCTION = "false"

